*{
    padding:0;
    margin:0;
}
html,body{
    width:100%;
    height:auto;
    font-family: '微软雅黑';
    margin: 0 auto;
    min-width: 980px;
} 
ul,li{
    list-style:none;
}
a{
    display: block; 
    text-decoration: none; 
}
//   ****************************************************
.box{
    width:100%;
    height:auto;
    margin:0 auto;
    .title{ 
        width:100%; 
        height:40px;
        line-height: 40px;
        background: #edf6fa; 
        border-bottom:1px solid #d7e4ea;
        .wz{
            float:left;
            display: block;
            line-height: 40px;
            margin-left:12px;
            font-size:9pt;
            font-weight: bold;
        }
        ul{
            float: left; 
            li{
                cursor: pointer;
                float: left;
                line-height: 40px;
                padding-left: 7px;
                padding-right: 12px;
                font-size:12px; 
                background: url('../img/rlist.gif') no-repeat right;
            }
            .oli{
                background: #edf6fa;
            }
            & :hover{
                color: #00a4ac;
            }
        }
    }
    // *****************************************
    .content{
        padding: 10px 18px;
        .nav{
            padding-bottom:2px;
            border-bottom: solid 1px #d0dee5;
            line-height: 35px;
            position: relative;
            height: 35px; 
            margin-bottom: 28px;
            font-size:13px;
            b{
                display: inline-block; 
                border-bottom:3px solid #66c9f3;
            }
        }
        ul{
            overflow: hidden;
            padding-left: 23px;
            height:auto;
            li{
                display: block;
                line-height: 34px;
                margin-bottom: 13px;
            }
            .Title{
                overflow: hidden;
                span{
                    width: 86px;
                    line-height: 34px;
                    display: block;
                    font-size:12px;
                    float: left;
                }
                input{
                    width: 345px;
                    height: 32px;
                    line-height: 32px;
                    border-top: solid 1px #a7b5bc;
                    border-left: solid 1px #a7b5bc;
                    border-right: solid 1px #ced9df;
                    border-bottom: solid 1px #ced9df;
                    background: url('../img/inputbg.gif') repeat-x;
                    text-indent: 10px;
                    float: left;   
                    
                }
                i{
                    float: left;   
                    font-size:12px;
                    color: #7f7f7f;
                    padding-left: 20px;
                    font-style: normal;
                }
            }
            .Keyword{
                overflow: hidden;                
                span{
                    width: 86px;
                    line-height: 34px;
                    display: block;
                    font-size:12px;
                    float: left;
                }
                input{
                    width: 345px;
                    height: 32px;
                    line-height: 32px;
                    border-top: solid 1px #a7b5bc; 
                    border-left: solid 1px #a7b5bc;
                    border-right: solid 1px #ced9df;
                    border-bottom: solid 1px #ced9df;
                    background: url('../img/inputbg.gif') repeat-x; 
                    text-indent: 10px;
                    float: left;   
                    
                }
                i{
                    float: left;   
                    font-size:12px;
                    color: #7f7f7f;
                    padding-left: 20px;
                    font-style: normal;
                }
            }
            .examine{
                font-size:12px;
                span{
                    width: 86px;
                    line-height: 34px;
                    display: block;
                    font-size:12px;
                    float: left;
                }
            }
            .address{
                overflow: hidden;
                font-size:12px;
                span{
                    width: 86px;
                    line-height: 34px;
                    display: block;
                    font-size:12px;
                    float: left;
                }
                input{
                    width: 345px;
                    height: 32px;
                    line-height: 32px;
                    border-top: solid 1px #a7b5bc;
                    border-left: solid 1px #a7b5bc;
                    border-right: solid 1px #ced9df;
                    border-bottom: solid 1px #ced9df;
                    background: url('../img/inputbg.gif') repeat-x;
                    text-indent: 10px;
                    float: left;   
                    font-size:12px;
                }
            }
            .con{
                font-size:12px;
                span{
                    width: 86px;
                    line-height: 34px;
                    display: block;
                    font-size:12px;
                    float: left;
                }
                textarea{
                    border-top: solid 1px #a7b5bc;
                    border-left: solid 1px #a7b5bc;
                    border-right: solid 1px #ced9df;
                    border-bottom: solid 1px #ced9df;
                    background: url('../img/inputbg.gif') repeat-x;
                    padding: 10px;
                    width: 504px;
                    height: 135px;
                    line-height: 20px;
                    overflow: hidden;
                }
            }
            .Preservation{
                span{
                    width: 86px;
                    line-height: 34px; 
                    display: block;
                    float: left;
                }
                input{
                    width: 137px;
                    height: 35px;
                    background: url('../img/btnbg.png') no-repeat;
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                    text-align: center;
                    border:none;
                }
            }
        }
    }
} 
@media screen and (max-width:960px){  
    // body{
    //     background: red;
    // } 
    .Title{
        span{
            clear: both; 
        }
        input{
            clear: both;  
        }
    }
    .Keyword{
        span{
            clear: both; 
        }
        input{
            clear: both;  
        }
    }
    .address{
        span{
            clear: both; 
        }
        input{
            clear: both;  
        }
    }
    .con{
        width:400px;
        #cont{
            width:238px;
            height:100px; 
        }
    }
} 