.toole-body{
  width: 100%;
  height: 100%;
}
.titlt{
  font-size: 14px;
  height: 40px;
  background:#edf6fa;

  p{
    line-height: 40px;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 20px;
    a{
      color: #000;
      &:hover{
        color: #00a3ad;
      }
    }
    img{
      display: inline-block;
      vertical-align: middle;
    }

  }
}
.toole-title{
  width: 100%;
  height: 100%;
}
.list-top{
  margin: 0 20px 0 20px;
  h5{
    padding-top: 10px;
    font-size: 14px;
    line-height: 35px;
    border-bottom: 1px solid #e9e9e9;
    b{
      display: block;
      width: 62px;
      line-height: 33px;
      border-bottom: 3px solid #3c95c8;
      padding: 1px;
    }
  }
  ul{
    //display: flex;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 20px;
    li{
      float: left;
        margin-right: 30px;
      .li-a1{
        &:hover{
          .sedow{
            display: block;
          }
        }
        position: relative;
        display: block;
        color: #000;
        width: 65px;
        height: 65px;
        border:{
        right: 1px solid #eee;
        bottom: 1px solid #eee;
        }
        img{
          width: 100%;
          display: block;
          vertical-align: middle;

        }
        .sedow{
          width: 100%;
          height: 100%;
          background: rgba(0 ,0 ,0 ,0.1);
          display: none;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .li-a2{
        display: block;
        font-size: 12px;
        text-align: center;
        width: 65px;
        line-height: 35px;
        color: #000;
      }
      .li-a3{
        display: block;
        text-align: center;
        width: 65px;
        height: 65px;
        line-height: 65px;
        img{
          display: block;
          margin: auto 0px;
          margin-top: 25px;
          vertical-align: middle;
        }
      }
    }

  }
}
@media screen and (max-width:960px){
  .list-top{
    ul{
      width: 333px;
    }
  }
}
@media screen and (max-width:650px){
  .list-top{
    ul{
      width: 202px;
      //margin: 0 auto;
    }
  }
}